<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'passages/application', media: 'all' %>
  <%= javascript_include_tag 'passages/application' %>
  <title>Passages</title>
</head>
  <body class='container'>
    <div class = 'row'>
      <div class='col-xs-12 vertical-spacer'></div>
    </div>

    <div class ='row'>
      <div class='col-xs-6 '>
        <input class='form-control' name='search' type='text' placeholder='Route Matching...'/>
      </div>
    </div>

    <div class = 'row'>
      <div class='col-xs-12 vertical-spacer'></div>
    </div>

    <div class = 'row'>
      <div class='col-xs-12'>
        <h3 class='no-results'></h3>
        <table class='matching-term table table-striped table-bordered'>
          <%= render partial: 'routes_header', locals: { collection: @route_collection } %>
        </table>
      </div>
    </div>

    <div class = 'row'>
      <div class ='col-xs-12 '>
        <% if @engine_routes.present? %>
          <h3>Engine Routes</h3>
            <% @engine_routes.each do |engine_hash| %>
              <table class='table table-striped table-bordered'>
                <tr>
                  <td colspan='2'><b>Routes for Engine:</b> <%= engine_hash[:engine] %></td>
                  <td colspan='3'><b>Mounted at:</b> <%= @mount_routes[engine_hash[:engine]].path %></td>
                </tr>
                <%= render partial: 'routes_header', locals: { collection: engine_hash[:routes] } %>
                <% engine_hash[:routes].each do |route| %>
                  <%= render partial: 'route', locals: { route: route } %>
                <% end %>
              </table>
            <% end %>
          <% end %>
        <h3>App Routes</h3>
          <table class='table table-striped table-bordered'>
            <%= render partial: 'routes_header', locals: { collection: @route_collection } %>
            <% @routes.each do |route| %>
              <%= render partial: 'route', locals: { route: route } %>
            <% end %>
          </table>
      </div>
    </div>
  </body>
</html>
