<div class='route'>
  <span class='name'>Name: <%= route.name %></span>
  <span class='verb'>Verb: <%= route.verb %></span>
  <span class='controller'>Controller: <%= route.controller %></span>
  <span class='action'>Action: <%= route.action %></span>
  <span class='path'>Path: <%= route.path %></span>
</div>
