<div class='route row'>
  <span class='name col-xs-2'>Name: <%= route.name %></span>
  <span class='verb col-xs-2'>Verb: <%= route.verb %></span>
  <span class='controller col-xs-2'>Controller: <%= route.controller %></span>
  <span class='action col-xs-2'>Action: <%= route.action %></span>
  <span class='path col-xs-3'>Path: <%= route.path %></span>
</div>
