<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'roots/application', media: 'all' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
  <%= javascript_include_tag 'roots/application' %>
  <title>Roots</title>
</head>
  <body class='container'>
    <div class='col-xs-6 '>
      <input class='form-control' name='search' type='text' placeholder='Route Matching...'/>
    </div>

    <div class='col-xs-12 vertical-spacer'></div>

    <div class='col-xs-12'>
      <h3 class='no-results'>No Results matching search term.</h3>
      <table class='matching-term table table-striped table-bordered'>
        <tr class='header'>
          <th colspan='5'>
            Matching Routes
          </th>
        </tr>
      </table>
    </div>

    <div class ='col-xs-12 '>
      <h2>Engine Routes</h2>
        <% @engine_routes.each do |engine| %>
          <table class='table table-striped table-bordered'>
            <tr>
              <td colspan='2'><b>Routes for Engine:</b> <%= engine[:engine] %></td>
              <td colspan='3'><b>Mounted at:</b> <%= @mount_routes[engine[:engine]].path %></td>
            </tr>
            <%= render partial: 'routes_header', locals: { collection: engine[:routes] } %>
            <% engine[:routes].each do |route| %>
              <%= render partial: 'route', locals: { route: route } %>
            <% end %>
          </table>
        <% end %>
      <h2>App Routes</h2>
        <table class='table table-striped table-bordered'>
          <%= render partial: 'routes_header', locals: { collection: @route_collection } %>
          <% @routes.each do |route| %>
            <%= render partial: 'route', locals: { route: route } %>
          <% end %>
        </table>
    </div>
  </body>
</html>
